.container2{
    margin: 0 auto;
    border:2px solid rgb(88, 47, 19);
    border-style:double;
    max-width: 1160px;
    height: 373px;
    background-image: url(../../../assets/img/5.jpg);
    border-radius: 4cm;
}

.container2{
    box-shadow: 0 8px 8px 0 rgb(238, 164, 103), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.titulo{
    text-align: center;
    font-size:13px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
}

.imagen{
    display: flex;
    justify-content: center;
    width: 1190px;
    height: 177px;
}

.cuadro2{
    margin:10px 40px;
    padding:10px;
    background-color:rgb(220, 248, 155);
    width: 130px;
    height: 30px;
    border-radius:5px;
    border-style:outset;
    float:left;
}

.cuadro2:hover{
    box-shadow: 0 8px 8px 0 rgb(145, 85, 36), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.texto1{
    text-align: center;
    color:rgb(88, 14, 14);
    text-transform: uppercase;
    text-shadow: 0 5px 0 rgb(170, 84, 34);
}


h2{
    text-align: center;
    color:rgb(233, 12, 12);
}

h4{
    text-align: center;
    font-size:12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cuadro3{
    margin:10px;
    padding:10px;
    float: left;
    background-color:rgb(236, 241, 241);
    width: 130px;
    height: 30px;
    border-radius:5px;
    border-style:outset;
}

.cuadro3:hover{
    box-shadow: 0 8px 8px 0 rgb(82, 212, 78), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro4{
    margin:10px;
    padding:10px;
    float: left;
    background-color:rgb(220, 248, 155);
    width: 130px;
    height: 30px;
    border-radius:5px;
    border-style:outset;
}

.cuadro4:hover{
    box-shadow: 0 8px 8px 0 rgb(145, 85, 36), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro5{
    margin:10px;
    padding:10px;
    float: left;
    background-color:rgb(236, 241, 241);
    width: 130px;
    height: 30px;
    border-radius:5px;
    border-style:outset;
}

.cuadro5:hover{
    box-shadow: 0 8px 8px 0 rgb(82, 212, 78), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro6{
    margin:10px;
    padding:10px;
    float: left;
    background-color:rgb(220, 248, 155);
    width: 130px;
    height: 30px;
    border-radius:5px;
    border-style:outset;
}

.cuadro6:hover{
    box-shadow: 0 8px 8px 0 rgb(206, 100, 13), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro7{
    margin:10px;
    padding:10px;
    float: left;
    background-color:rgb(250, 250, 250);
    width: 120px;
    height: 30px;
    border-radius:5px;
    border-style:outset;
}

.cuadro7:hover{
    box-shadow: 0 8px 8px 0 rgb(82, 212, 78), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}


.con3{
    background-color:rgb(204, 158, 97);
    margin:5px 90px;
    float: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:15px;
    width: 70px;
    height:20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgb(21, 150, 64), 0 6px 20px 0 rgba(226, 203, 72, 0.89);
}

.con4{
    background-color:rgb(118, 228, 85);
    margin:2px 300px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:15px;
    width: 70px;
    height:40px;
    float: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgb(21, 150, 64), 0 6px 20px 0 rgba(39, 56, 56, 0.89);

}

.con5{
    background-color:rgb(204, 158, 97);
    margin:-95px 470px;
    font-family:cursive;
    text-align: center;
    font-size:15px;
    width: 70px;
    height:20px;
    float: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgb(224, 180, 59), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}
.con6{
    background-color:rgb(118, 228, 85);
    margin:140px 650px;
    font-family:cursive;
    text-align: center;
    font-size:15px;
    width: 70px;
    height:20px;
    float: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgb(21, 150, 64), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}
.con7{
    background-color:rgb(204, 158, 97);
    margin:-230px 820px;
    font-family:cursive;
    text-align: center;
    font-size:15px;
    width: 70px;
    height:40px;
    float: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgb(70, 182, 36), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}
.con8{
    background-color:rgb(118, 228, 85);
    margin:230px 995px;
    font-family:cursive;
    text-align: center;
    font-size:15px;
    width: 70px;
    height:54px;
    float: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgb(21, 150, 64), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

