<div class="container2">
    <br>
    <div class=imagen>
        <img src="../../../assets/img/2.jpeg">
    </div>

    <div class="datos">
        <div class="titulo">
            <h1>Lizeth Martinez Rosas</h1>
        </div>
        <div class="cuadro2">
            <div class="texto2">
                <h4>21 años</h4>
            </div>
        </div>

        <div class="cuadro3">
            <h4>Mexicana</h4>
        </div>

        <div class="cuadro4">
            <div class="texto3">
                <h4>Sistemas<br>Computacionales</h4>
            </div>
        </div>

        <div class="cuadro5">
            <div class="texto3">
                <h4>8vo Semestre</h4>
            </div>
        </div>

        <div class="cuadro6">
            <div class="texto3">
                <h4>Jenni Lover</h4>
            </div>
        </div>

        <div class="cuadro7">
            <div class="texto3">
                <h4>Escorpio</h4>
            </div>
        </div>

        <div class="con3">
            <p></p>
        </div>

        <div class="con4">
            <p></p>
        </div>

        <div class="con5">
            <p></p>
        </div>
        <div class="con6">
        </div>
        <div class="con7">
        </div>
        <div class="con8">
    </div>
</div>