.encabezado{
    margin: 0 auto;
    background:url(src../../../../../assets/img/4.jpg);
    max-width: 1600px;
    height: 78px;
    position: relative;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size:60px;
    color: rgb(250, 249, 249);
}
