
.contenedor{
    height:35px;
    background-image: url(../../../assets/img/4.jpg);
    text-align: center;
}


img{
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-top:-11px;
    padding: 18px;
}